@import "../../SCSS/mixin";

.inner-box {
    display: flex;
    padding: 0 5rem;

    @include respond(miniTab) {
        flex-direction: column;
        padding: 0 2rem;
    }

    @include respond(phone) {
        flex-direction: column;
        padding: 0 1.5rem;
    }

}