$color-primary: rgb(242, 245, 247);
// $color-secondary-1: #141c3a;
// $color-secondary-2: rgba(10, 10, 10, 0.9);
$color-white: #fff;
$color-light-blue: rgb(30, 129, 176);
$color-bg: #0f0c1f;
$color-text: rgba(255, 255, 255, 0.5);

$font-display: "Space Grotesk", sans-serif;
$font-text: 1.8rem;
// $color: rgb(60, 50, 116);